# ============================
# Python
# ============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.so
.env
venv/
env/
.venv/
.pytest_cache/



# Django SQLite databases
db.sqlite3
app/db.sqlite3
**/*.sqlite3

